.aboutHeaderAdorner {
	margin-top: 1rem;
	padding-right: 2rem;
	max-height: 5rem;
	position: relative;
}

.aboutHeaderAvatar {
	border-radius: 50%;
	width: 100%;
	max-height: inherit;
	min-height: inherit;
}

.aboutHeaderFlyout {
	position: absolute;
	top: 1.5rem;
	right: 8rem;
	opacity: 0;
	display: block;
	text-align: center;
	transition: opacity 0.2s ease-in-out;
}

.aboutHeaderAdorner:hover .aboutHeaderFlyout {
	opacity: 1;
}

.aboutContent p::after {
	margin-left: 0.5rem;
	content: "\0000b6";
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.aboutContent p:hover::after {
	opacity: 0.8;
}

.aboutSkills {
	font-size: 2rem;
	color: var(--color-primary);

	@media (width <= 600px) {
		margin-block-start: revert;
		height: 8rem;
		display: flex;
		line-height: 2.5rem;
		align-items: center;
	}
}

.aboutSkills::after {
	display: none;
}

.postSignoff {
	margin: 3rem auto 1rem auto;
	text-align: center;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
	color: gray;
}
