@import "@fontsource-variable/overpass";
@import "@fontsource-variable/playfair-display";
@import "tailwindcss";
@source "../**/*.svelte";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--color-border: oklch(0.83 0 0 / 1);
	--color-fg: oklch(0.32 0 0 / 1);
	--color-bg: oklch(0.94 0 0 / 1);
	--color-bg-lighter: oklch(0.99 0 0 / 1);
	--color-primary: oklch(0.63 0.1 183.03 / 1);
	--color-secondary: oklch(0.46 0.06 225.22 / 1);
	--color-three: oklch(0.56 0.18 31.9 / 1);

	--spacing-header: 3rem;
	--spacing-content: 900px;

	--font-sans: "Overpass Variable", sans-serif;
	--font-serif: "Playfair Display Variable", serif;

	--text-2xs: 0.6rem;

	--tracking-widest: 0.15em;
}

:root {
	&:where([data-theme="dark"], [data-theme="dark"] *) {
		--color-border: oklch(0.83 0 0 / 1);
		--color-fg: oklch(0.94 0 0 / 1);
		--color-bg: oklch(0.32 0 0 / 1);
		--color-bg-lighter: oklch(0.4 0 0 / 1);
		--color-primary: oklch(0.63 0.1 183.03 / 1);
		--color-secondary: oklch(0.46 0.06 225.22 / 1);
		--color-three: oklch(0.56 0.18 31.9 / 1);
	}
}

@layer base {
	html {
		background-color: var(--color-bg);
		color: var(--color-fg);
		font-weight: 300;
		font-size: 18px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-serif);
	}

	a {
		position: relative;
		color: inherit;
		text-decoration: underline 2px var(--color-primary);

		&:hover {
			color: var(--color-primary);
		}

		&:focus-visible {
			@apply bg-primary dark:bg-secondary not-dark:decoration-secondary ring-offset-primary dark:ring-offset-secondary rounded-sm ring-1 ring-offset-1;

			outline: none;

			&:hover {
				color: inherit;
			}
		}
	}

	::selection {
		color: var(--color-fg);
		background-color: var(--color-secondary);
	}
}
