.contactForm {
	margin: 0 auto;
	width: 65%;
}

.contactForm input,
.contactForm textarea {
	width: 100%;
}

.contactForm input {
	height: 1.5rem;
}

.contactForm textarea {
	height: 10rem;
}

.successMessage {
	text-align: center;
	color: var(--color-primary);
}

@media screen and (max-width: 700px) {
	.contactForm {
		width: 100%;
	}
}
