---
import { cx, type WithClasses } from "@/lib/cx";
import Divider from "./Divider.astro";

interface Props
	extends WithClasses<
		"root" | "headingContainer" | "heading" | "headingText" | "body"
	> {
	headingText?: string;
	isSeamless?: boolean;
}

const {
	headingText,
	isSeamless,
	class: className,
	classes = {},
	...rest
} = Astro.props;
---

<section
	class={cx([
		"max-w-content mx-auto w-full",
		!isSeamless && "border-border bg-bg-lighter border",
		className,
		classes.root
	])}
	{...rest}
>
	<section class={cx(["mb-5 min-h-28", classes.headingContainer])}>
		<slot name="heading">
			<div
				class={cx(["flex items-center justify-between py-4", classes.heading])}
			>
				<h1
					class={cx(["px-8 py-4 text-[2rem] font-medium", classes.headingText])}
				>
					{headingText}
				</h1>

				<slot name="heading-adorner" />
			</div>
		</slot>

		<Divider class="mt-0" />
	</section>

	<article
		class={cx(
			"flex flex-col gap-4 px-8 py-4 [&_p]:leading-6 [&_p]:first-of-type:mt-0",
			classes.body
		)}
	>
		<slot />
	</article>
</section>
