---
import { cx, type WithClasses } from "@/lib/cx";

interface Props extends WithClasses<"root"> {}

const { class: className, classes = {} } = Astro.props;
---

<div
	class={cx([
		"border-border mx-auto my-3 w-full border-b",
		className,
		classes.root
	])}
>
</div>
