@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&family=Playfair+Display&display=swap");

html {
  --color-border: rgb(200, 200, 200);
  --color-fg: rgb(50, 50, 50);
  --color-bg: rgb(235, 235, 235);
  --color-bg-lighter: rgb(250, 250, 250);
  --color-primary: rgb(42, 157, 143);
  --color-secondary: rgb(51, 95, 112);
  --color-three: rgb(202, 60, 37);
  --size-header: 3rem;
  --font-sans: "Overpass", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

a {
  position: relative;
  color: inherit;
  text-decoration: underline 2px var(--color-primary);
}

a.icon {
  border-bottom: none;
}

a:hover {
  color: var(--color-primary);
}

button {
  border: solid 1px var(--color-border);
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

button:hover:not(:disabled) {
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

button:focus {
  outline: 0;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

button:disabled {
  cursor: not-allowed;
}

input,
textarea {
  border: solid 1px var(--color-border);
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: var(--color-primary);
}

.strike {
  text-decoration-line: line-through;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}

.textSmall {
  font-size: 0.9rem;
}
