.content {
  border: solid 1px var(--color-border);
  background-color: var(--color-bg-lighter);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.contentSeamless {
  border: initial;
  background-color: initial;
}

.content .container {
  padding: 1rem 2rem;
}

.container p {
  line-height: 1.5rem;
}

.container p:nth-of-type(1) {
  margin-top: 0;
}

.contentHeader {
  margin-bottom: 1.25rem;
  height: 6.8rem;
}

.contentHeaderFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentHeader h1 {
  margin: 1rem 0 0 0;
  font-size: 2rem;
}
